version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot/webroot:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    restart: always

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot/webroot:/var/www/certbot
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certbot/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/entrypoint.sh"]
    restart: always
